<div class="container">
  <app-filter-container
    title="Submissions"
    [formOptions]="fromOptions"
    [statusOptions]="statusOptions"
    [selectedForm]="selectedFrom"
    [selectedStatus]="selectedStatus"
    [selectedDate]="selectedDate"
    [currentView]="currentView"
    (filterChange)="onFilterChange($event)"
    (viewChange)="onViewChange($event)"
    (exportClick)="exportSubmissions()">
  </app-filter-container>

  <app-view-container [currentView]="currentView">
    <ng-template #mapViewTemplate>
      <app-map-view 
        [items]="submissions" 
        [config]="mapConfig">
      </app-map-view>
    </ng-template>
    
    <ng-template #listViewTemplate>
      <app-list-view 
        [items]="submissions" 
        [columns]="listColumns"
        [pageSizeOptions]="[5, 10, 20]"
        [showCheckboxes]="true"
        (selectionChanged)="onSelectionChanged($event)">
      </app-list-view>
    </ng-template>
  </app-view-container>
</div>
