<header class="header-bar">
  <div class="logo">ZenduForms</div>
  <nav class="menu-items">
    <a href="#" class="menu-item">
      <mat-icon>description</mat-icon>
      Forms
    </a>
    <a href="#" class="menu-item">
      <mat-icon>people</mat-icon>
      Customers
    </a>
    <a href="#" class="menu-item active">
      <mat-icon>send</mat-icon>
      Submissions
    </a>
    <a href="#" class="menu-item">
      <mat-icon>history</mat-icon>
      History
    </a>
    <a href="#" class="menu-item">
      <mat-icon>bar_chart</mat-icon>
      Reports
    </a>
    <a href="#" class="menu-item">
      <mat-icon>assignment</mat-icon>
      Workflow
    </a>
  </nav>
  <div class="header-controls">
    <button mat-icon-button class="notification-btn">
      <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button class="settings-btn">
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</header>

<router-outlet></router-outlet>
